# Ignorar o arquivo .flake8
.flake8

# Ignorar o diretório cars/
cars/

# Ignorar o diretório core/
core/

# Ignorar o arquivo db.sqlite3
db.sqlite3

# Ignorar o arquivo manage.py (geralmente não é recomendado, mas pode ser feito)
manage.py

# Ignorar os arquivos de requirements
requirements.txt
requirements_dev.txt

# Ignorar o diretório venv/
venv/*